In [ ]:
# WARNING: If you close your browser, your work will be LOST!

# Q1: import numpy and pandas

# Q2: Set options in pandas so it displays 30 `max_rows` 
#                                 no limit on `max_columns`
#                                 precision is 3

import numpy as np
import pandas as pd

In [1]:
import numpy as np
import pandas as pd

In [85]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 3)

In [4]:
# Q3: assign the versions of pandas and numpy to variables below
pd_version = pd.__version__
np_version = np.__version__

In [19]:
import os
print(os.getcwd())

/Users/nicolesemerano/Downloads/dsp-master/lessons/pandas_intro

In [74]:
# Q4: Read in the csv file "olive.csv" with pandas. 
#     The filename is stored in the variable `olive_path`
#     Assign it to variable `df`
df = pd.read_csv('olive.csv', header = 0)

# The fields are:

# Unnamed: 0
# region
# area
# palmitic
# palmitoleic
# stearic
# oleic
# linoleic
# linolenic
# arachidic
# eicosenoic

In [24]:
# Q5: How many rows and columns are there in `df`? Put your answer in a variable `df_shape`.
df_shape = df.shape

(572, 11)

In [76]:
# Q6: assign the first 2 rows of `df` to `df_first_two`
df_first_two =df.iloc[0:2]

In [99]:
# Q7: How many distinct data types are there in `df`?
df_data_types_count = len(df.dtypes.value_counts())
print(df_data_types_count)

2

In [73]:
# Q8: In `df`, create a new column 'sub_region_raw', which will be a copy of the column 'Unnamed: 0'
df['sub_region_raw']=df.iloc[:,0]
df['sub_region_raw']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
567   NaN
568   NaN
569   NaN
570   NaN
571   NaN
Name: sub_region_raw, Length: 572, dtype: float64

In [77]:
# Q9: In `df`, rename 'Unnamed: 0' to 'sub_region_desc'
df.rename(columns={'Unnamed: 0':'sub_region_desc'}, inplace=True)

In [78]:
# Q10: In `df`, rename the column 'area' to: 'sub_region'
df.rename(columns={'area':'sub_region'}, inplace=True)

In [79]:
df.head()

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46

In [47]:
# Q11: In `df`, get the unique values of the field 'region'
region_unique = df.region.unique()
print(region_unique)

[1 2 3]

In [100]:
# Q12: In `df`, how many unique values of the field 'sub_region' are there?
sub_region_unique_count = len(df.sub_region.value_counts())
sub_region_unique_count
# should be an integer

9

In [80]:
# Q13: Lets take a look at the field `sub_region_desc`:

# >>> df['sub_region_desc'].head(5)
# 0    1.North-Apulia
# 1    2.North-Apulia
# 2    3.North-Apulia
# 3    4.North-Apulia
# 4    5.North-Apulia

# Looks like 'sub_region_desc' has line numbers attached to the beginning of region name. 
#Remove those and get the unique values in that field, assign it to `srd_unique`
srd_no_i = df.set_index('sub_region_desc')
print(srd_no_i)

                  region  sub_region  palmitic  palmitoleic  stearic  oleic  \
sub_region_desc
1.North-Apulia         1           1      1075           75      226   7823
2.North-Apulia         1           1      1088           73      224   7709
3.North-Apulia         1           1       911           54      246   8113
4.North-Apulia         1           1       966           57      240   7952
5.North-Apulia         1           1      1051           67      259   7771
...                  ...         ...       ...          ...      ...    ...
568.West-Liguria       3           8      1280          110      290   7490
569.West-Liguria       3           8      1060          100      270   7740
570.West-Liguria       3           8      1010           90      210   7720
571.West-Liguria       3           8       990          120      250   7750
572.West-Liguria       3           8       960           80      240   7950

                  linoleic  linolenic  arachidic  eicosenoic
sub_region_desc
1.North-Apulia         672         36         60          29
2.North-Apulia         781         31         61          29
3.North-Apulia         549         31         63          29
4.North-Apulia         619         50         78          35
5.North-Apulia         672         50         80          46
...                    ...        ...        ...         ...
568.West-Liguria       790         10         10           2
569.West-Liguria       810         10         10           3
570.West-Liguria       970          0          0           2
571.West-Liguria       870         10         10           2
572.West-Liguria       740         10         20           2

[572 rows x 10 columns]

In [82]:
df.sub_region_desc = df.sub_region_desc.str.lstrip('0123456789.- ')
srd_unique= df['sub_region_desc'].unique()

In [83]:
srd_unique

array(['North-Apulia', 'Calabria', 'South-Apulia', 'Sicily',
       'Inland-Sardinia', 'Coast-Sardinia', 'Umbria', 'East-Liguria',
       'West-Liguria'], dtype=object)